.Weather {
  background-image: url(../../assets/gif/background.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-box-history{
  background-image: url(../../assets/gif/weather.gif);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}
.animateSpin {
  animation: spin 4s linear infinite;
}


/* width */
::-webkit-scrollbar {
    width: 0.1rem !important;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #cccccc;
    border-radius: 1rem;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #646363;
    border-radius: 1rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4d685d;
  }
  