@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: vazir;
    src: url(../src/assets/fonts/vazir-font-v16.1.0/vazir-font-v16.1.0/Vazir-Medium.woff);
}

.font-vazir{
    font-family: vazir;
}

